@model Jogador

@{
    ViewData["Title"] = "Login";
}
<!-- FORMULÁRIO DE LOGIN -->
<link rel="stylesheet" href="~/css/login.css">
<main class="fundo-login">
    <div class="bkg-login">
        <form method="post" action='@Url.Action("Logar")' class="frm-login">
            <div class="login-title">
                <hr class="login-line">
                <h1>Login</h1>
            </div>
            <div class="frm-linha">
                <div class="bkg-input">
                    <img src="~/assets/vector-user.svg" alt="ícone de usuário">
                    <input type="email" id="email" name="Email" required placeholder="Digite seu e-mail:">
                </div>
            </div>
            <div class="frm-linha">
                <div class="bkg-input">
                    <img src="~/assets/vector-key.svg" alt="ícone de chave">
                    <input type="password" name="Senha" required id="password" placeholder="Digite sua senha:">
                </div>
            </div>

            <button  type="submit" class="btn-logar">Logar</button>
        </form>
    </div>

</main>

